<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('app_about') }}">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_contact_us') }}">Contact us</a>
    </li>
    {% if not is_granted('IS_AUTHENTICATED') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app.security.login') }}">Connect</a>
        </li>
    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">{{  name  }}</a>
        <div class="dropdown-menu" data-bs-popper="static">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url('_logout_main') }}">Logout</a>
        </div>
    </li>
    {% endif %}
</ul>